<script>
var TimerAJAX;
var ResultAJAX;
var AS;
var ST;

$(document).ready(function(){
	AS = $("span[id='AJAX_Status']");
	ST = $("select[name='SaveTime']");
	TimerAJAX = parseInt(ST.val());
	SaveTimeClock();
});

$(document).ajaxStart(function(){
	ResultAJAX = false;
	AS.html("Начали передавать данные...");
});
$(document).ajaxSuccess(function(){
	if ( ResultAJAX ) {
		AS.html("Документ сохранен");
	} else {
		AS.html("<h4 style='color:red'>При сохранении документы возникли проблемы, документ не сохранен!</h4>");
	}
});
$(document).ajaxError(function(){
	AS.html("<h3 style='color:red'>ОШИБКА СОХРАНЕНИЯ!!!</h3>");
});

function InitSaveTime(time) {
	TimerAJAX = time;
}

function GetResultAJAX(data, status) {
	$("div[id='AJAX_Result']").html("Status: " + status + "\nData: " + data);
	if (
		status == 'success'
		&& data == 'OK'
	) {
		ResultAJAX = true;
	}
	
}

function SaveTimeClock() {
	if ( TimerAJAX <= 0 ) {
		InitSaveTime(parseInt(ST.val()));
		$.post(
		   'ajax_gate',
		   {
		     ObjectData: $("textarea[name='ObjectData']").val()
		   },
		   function(data,status) {GetResultAJAX(data,status);} 
		);
	} else {
		TimerAJAX = TimerAJAX-1;
	}
	$("span[id='AJAX_Timer']").html(TimerAJAX);
	window.setTimeout('SaveTimeClock()', 1000);
}
</script>
