Примеры использования:<br>
<ul>
<li><a href="ajax_test">Форма для передачи данных через AJAX по таймеру</a>
<li><a href="vcs">Форма для просмотра объектов и их ревизий</a>
<li><a href="ed">Простой редактор объектов и ревизий</a>
<li><a href="edit">Полный редактор объектов с поддержкой черновиков и старых ревизий</a>
<li><a href="edit_ajax">Финальная версия редактора объектов, с ревизиями и авто-сохранением через AJAX</a>
</ul>