<p>
<a href="html_editor">Редактировать содержимое страниц</a><br>
<a href="xml_editor">Редактировать описание (служебные заголовки) страниц</a><br>
<a href="remove_object">Удалить страницу</a><br>
<a href="add_object">Добавить страницу</a><br>
</p>
